<p>iniciar-s works!</p>
<div align="center">
    <h1>Login</h1>

    <div class="form">
        <br>
        <label for="Email">Documento</label>
        <br>
        <input type="text" [(ngModel)]="login.usuario">
    </div>
    <div class="form-group">
        <br>
        <label for="Password">Clave</label>
        <br>
        <input type="password" [(ngModel)]="login.contrasena">
    </div>
    <div>
        <br>
        <button (click)="loginUsuario()" class="btn btn-outline-success">Iniciar Sesion</button>
        <a [routerLink]="['inicio']" class="btn btn-outline-danger">Cancelar</a>
        <br><br>
        <a (click)="volver()" class="btn-secundary">No tienes cuenta?,
      Registrate.
        </a>
    </div>
</div>