<p>iniciar-s works!</p>
<div align="center">
    <h1>Login</h1>

    <div class="form">
        <br>
        <label for="Email">Documento</label>
        <br>
        <input type="text" [(ngModel)]="login.usuario">
    </div>
    <div class="form-group">
        <label for="Password">Clave</label>
        <br>
        <input type="password" [(ngModel)]="login.contrasena">
    </div>

    <button (click)="loginUsuario()" class="btn btn-outline-success">Iniciar Sesion</button>
    <a class="btn btn-outline-danger">Cancelar</a>


</div>