.contenedorb {
    margin-left: 73%;
}

.table {
    border: 1pt solid black;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

.contable {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1pt solid black;
}