<p>factura works!</p>
<div>

    <form class="form-inline my-2 my-lg-0">
        <label for="">Datos del Cliente</label>
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</div>
<br>
<div>
    <label for="">Datos del Cliente</label>
</div>
<br>
<div class="table">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Santy</td>
                <td>1</td>
                <td>0000.00</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>Fox</td>
                <td>1/2</td>
                <td>00000000000000.000000</td>
                <td>fat</td>
            </tr>
        </tbody>
    </table>
</div>