<p>factura works!</p>
<div class="container">
    <hr>
    <h5>Datos del Cliente</h5>
    <div class="contenedorb">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
    <br>
    <div class="table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1231465</td>
                    <td>Santy Reina</td>
                    <td>Reina@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br><br><br>
<hr>
<h5>Datos del Producto</h5>
<div class="contenedorb">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</div>
<br>
<div class="table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio</th>
                <th>Cantidad</th>
                <th scope="col">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Agua Cirstal</td>
                <td>20</td>
                <td>500</td>
                <td>
                    <div class="col-10">
                        <input class="form-control" type="number" value="42" id="example-number-input">
                    </div>
                </td>
                <th><button class="btn btn-primary">Añadir</button></th>
            </tr>
        </tbody>
    </table>
</div>
<br><br><br><br>
<hr>
<div class="table">
    <h3>Factura</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>20</td>
                <td>Aceite</td>
                <td>500</td>
                <td>10.000</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Jeans</td>
                <td>500</td>
                <td>5.000</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="contable">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Total</th>
                <th scope="col">15.000</th>
            </tr>
        </thead>
    </table>
</div>
<br>
<button class="btn btn-outline-primary">Imprimir Factura</button>
<br><br>