.table {
    border: 1pt solid black;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

.contenedor {
    padding-left: 40%;
}

.contenedor2 {
    padding-left: 40%;
}

.btn {
    margin-right: 5px;
}

.boton {
    margin-bottom: 200px;
}