<app-nav2></app-nav2>
<p>inventario works!</p>
<br>
<button class="boton btn btn-outline-info">Agregar Excel</button>


<div class="contenedor">

    <button class="btn btn-warning">Añadir</button>
    <button class="btn btn-warning">Actualizar</button>
    <button class="btn btn-warning">Borrar</button>
</div>

<br>
<div class="table">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Santy</td>
                <td>1</td>
                <td>0000.00</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>Fox</td>
                <td>1/2</td>
                <td>00000000000000.000000</td>
                <td>fat</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="contenedor2">


    <button class="btn btn-success">Aceptar</button>
    <button class="btn btn-success">Cancelar</button>

</div>