<!-- <p>Afganistan works!</p>
<div align="center">
    <h1>Registrarse</h1>

    <div class="form">
        <br>
        <label for="text">Nombre Completo</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <br>
        <label for="text">Documento</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <br>
        <label for="Email">Correo</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <br>
        <label for="text">Empresa</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <br>
        <label for="password">Contarseña</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <br>
        <label for="Password">Confirmar Contarseña</label>
        <br>
        <input type="password">
    </div>
    <div>
        <br>
        <button class="btn btn-primary">Registrarse</button>
        <a [routerLink]="['inicio']" class="btn btn-outline-danger">Cancelar</a>
        <br><br>
        <a (click)="volver()" class="btn-secundary">Ya tienes cuenta?,
        Inicia Sesion.
        </a>
    </div>
</div> -->

<p>register works!</p>
<h2 class="text-center">Registration</h2>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <form [formGroup]="reForm" (ngSubmit)="postdata(reForm)" autocomplete="off">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>