<p>Afganistan works!</p>
<div align="center">
    <h1>Registrarse</h1>

    <div class="form">
        <label for="text">Nombre Completo</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <label for="text">Documento</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <label for="Email">Correo</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <label for="text">Empresa</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <label for="password">Contarseña</label>
        <br>
        <input type="text">
    </div>
    <div class="form">
        <label for="Password">Confirmar Contarseña</label>
        <br>
        <input type="password">
    </div>
    <button class="btn btn-primary">Registrarse</button>
    <a [routerLink]="['inicio']" class="btn btn-outline-danger">Cancelar</a>
</div>