<p>registrarse works!</p>
<div align="center">
    <h1>Login</h1>

    <div class="form">
        <label for="Email">Documento</label>
        <br>
        <input type="text" [(ngModel)]="login.usuario">
    </div>
    <div class="form">
        <label for="Email">Documento</label>
        <br>
        <input type="text" [(ngModel)]="login.usuario">
    </div>
    <div class="form">
        <label for="Email">Documento</label>
        <br>
        <input type="text" [(ngModel)]="login.usuario">
    </div>
    <div class="form">
        <label for="Email">Documento</label>
        <br>
        <input type="text" [(ngModel)]="login.usuario">
    </div>
    <div class="form">
        <label for="Email">Documento</label>
        <br>
        <input type="text" [(ngModel)]="login.usuario">
    </div>
    <div class="form">
        <label for="Password">Clave</label>
        <br>
        <input type="password" [(ngModel)]="login.contrasena">
    </div>
    <button class="btn btn-primary">Iniciar Sesion</button>
</div>